<% provide :title, t("help") %>
<h1><%= t "help" %></h1>
<p>
  <%= t ".text1" %>
  <%= link_to t("ror_help_page"), Settings.ror_help_page_link %>
  <%= t ".text2" %>
  <%= link_to t(".text3"), Settings.title_book_link_book %>
</p>
