<h1><%= t "sample_app" %></h1>
<p><%= t "hi" %> <%= @user.name %></p>
<p><%= t ".title_mail_account_activation" %>:</p>
<%= link_to t("activation"),
  edit_account_activation_url(id: @user.activation_token, email: @user.email) %>
