<!DOCTYPE html>
<html>
<head>
  <title><%= full_title yield :title %></title>
  <%= render "layouts/rails_default" %>
</head>
<body>
  <%= render "layouts/header" %>
  <div class="container">
    <%= link_to "English", locale: :en %>
    <%= link_to "Vietnamese", locale: :vi %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </div>
</body>

</html>
